.DS_Store
.project
.cproject
*~
*.o
*.d
*.exe
*.lib
*.a
*.so

data/org.gnome.ServiceName.service
src/dbus-example-client
src/dbus-example-server

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
data/Makefile
data/Makefile.in
dbus-example-0.1.tar.gz
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/client-bindings.h
src/server-bindings.h
stamp-h1
